html, body {
	font-family:ubuntu, sans-serif, serif
	background-color:white;
}
nav.csc-nav {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	margin-bottom:0;	/* Force-override bootstrap margin (Why is it even there?) */
}

/* Transition div styles */
.trans {
	position:relative;
	background-color:orange;
	width:200px;
	height:20px;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	transition-duration:1s;
}
#testleft {
	display:block;
	left:-160px;
	transition-property: margin-left;
	margin-left:0;
}
#testleft:hover {
	margin-left:160px;
}
#testright {
	display:inline;
	overflow:hidden;
	position:absolute;
	right:-160px;
	margin-right:0;
	transition-property: margin-right;
}
#testright:hover {
	margin-right:160px;
}


/* Top/Jumbotron styles */

.top {
	background-image:url('../images/top.jpg');
	background-size:cover;
	position:aboslute;
	text-align:center;
	color:white;
	text-shadow:1px 1px black;
	font-size:80px;
	margin-bottom:0;	/* Force-override bootstrap margin (Why is it even there?) */
}


/* Officer styles */
.officers {
	background-color:red;
}
.officers .officer {
	color:white;
	height:150px;
	border:5px solid black;
	background-color:blue;
}

/* Bootstrap override */
.row {
	margin-left:0;
	margin-right:0;
}
